name: publish-release
on:
  release:
    types: [published]
jobs:
  publish-release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - name: Get image repository
        run: echo IMAGE_REPOSITORY=$(echo ghcr.io/${{ github.actor }}/${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
      - name: Get the release
        run: echo RELEASE=${GITHUB_REF/refs\/tags\//} >> $GITHUB_ENV
      - name: Login to registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push container image
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          pull: true
          push: true
          tags: |
            ${{ env.IMAGE_REPOSITORY }}:${{ env.RELEASE }}
